
ordered-set==4.1.0
    # via -r requirements.in

zstandard==0.20.0
    # via -r requirements.in
# GUI 框架 (建议固定在 6.7 或 6.8 稳定版)
PySide6==6.7.3

# 图像处理核心
# numpy 必须限制在 2.0 以下，因为 2.0 删除了很多 OpenCV 依赖的旧接口
numpy<2.0.0
opencv-python==4.10.0.84
Pillow==10.4.0

# 视频与 GIF 处理
imageio==2.35.1
imageio-ffmpeg==0.5.1

# AI 扣像核心 (rembg 及其推理引擎)
rembg==2.0.59
onnxruntime==1.19.2

# 系统资源监控
psutil==6.0.0
